<label>Pokemon ID </label>

<input type="text" [(ngModel)]="id" size="3" maxlength="3" placeholder="ex: 25">
<input value="{{id}}" size="3" readonly>
ID : {{id}}

<div>
  <label>Filtre </label>
  <input [(ngModel)]="filterPokeName" placeholder="ex: squirtle">

  <select [(ngModel)]="pokemonSelect">
    <option [value]="pokemon.id"
            *ngFor="let pokemon of pokemons | filterPokemonPipe: 'name': filterPokeName">
      {{ pokemon.name }}
    </option>
  </select>

  <button type="button" (click)="buttonClick()"> GO! </button>

  <h1> ID pokémon sélectionné : {{pokemonSelect}} </h1>

  <BR>
  <div *ngIf="pokeDetail">
    <app-pokedetail [detail]="pokeDetail" [descr]="pokeDescr"></app-pokedetail>
  </div>
</div>



<p-calendar [(ngModel)]="date"></p-calendar>
<p-toggleButton onLabel="True" offLabel="False" [(ngModel)]="checked"></p-toggleButton>
