<label>Pokemon ID </label>


<input type="text" [(ngModel)]="id" size="3" maxlength="3">
<input value="{{id}}" size="3" readonly>
<h1> ID : {{id}} </h1>

<label>Filtre </label>
<input [(ngModel)]="filterPokeName">

<select [(ngModel)]="pokemonSelect">
  <option [value]="pokemon.id"
          *ngFor="let pokemon of pokemons | filterPokemonPipe: 'name': filterPokeName">
    {{ pokemon.name }}
  </option>
</select>

<BR>

<button type="button" (click)="buttonClick()"> GO! </button>

<h1> ID pokémon sélectionné : {{pokemonSelect}} </h1>

<BR>
<div *ngIf="pokeDetail">
  <app-pokedetail [detail]="pokeDetail"></app-pokedetail>
</div>

<p-calendar [(ngModel)]="date"></p-calendar>
<p-toggleButton onLabel="True" offLabel="False" [(ngModel)]="checked"></p-toggleButton>
