<label>Pokemon ID </label>

<input type="text" [(ngModel)]="id" size="3" maxlength="3" placeholder="ex: 25">
<input value="{{id}}" size="4" readonly>
ID : {{id}}

<div>
  <label>Filtre </label>
  <input [(ngModel)]="filterPokeName" placeholder="ex: squirtle">

  <select [(ngModel)]="pokemonSelect">
    <option [value]="pokemon.id"
            *ngFor="let pokemon of pokemons | filterPokemonPipe: 'name': filterPokeName">
      {{ pokemon.id }} {{ pokemon.name }}
    </option>
  </select>

  <button type="button" (click)="buttonClick()"> GO! </button>

  <button type="button" (click)="getMorePokemon()">Fetch more pokemon</button>

  <div>
    Pokemon fetched : {{ pokemons.length }}/{{ count }}
  </div>

  <h1> Pokemon id : {{pokemonSelect}} </h1>


  <BR>
  <div *ngIf="pokeDetail">
    <app-pokedetail [detail]="pokeDetail" [descr]="pokeDescr"></app-pokedetail>
  </div>
</div>

<BR>

<p-calendar [(ngModel)]="date"></p-calendar>
<p-toggleButton onLabel="True" offLabel="False" [(ngModel)]="checked"></p-toggleButton>
