<BR>
<div class="wrapper">
  <p-card header="Sprite" class="one">
    <img src={{detail.sprites.front_default}}/>
  </p-card>
  <p-card class="two" header="#{{detail.id}} {{detail.name}}">
    <div *ngIf="descr.flavor_text_entries.length >= 3">
      <div>{{descr.flavor_text_entries[0].flavor_text}}</div>
      <div>{{descr.flavor_text_entries[1].flavor_text}}</div>
      <div>{{descr.flavor_text_entries[2].flavor_text}}</div>
    </div>

    <div *ngIf="descr.flavor_text_entries.length < 3">
      description unavailable
    </div>
  </p-card>

</div>


<div class="wrapper">
  <p-card header="Abilities" class="one">
    <ul>
      <li *ngFor="let ability of detail.abilities"> {{ability.ability.name}} </li>
    </ul>
  </p-card>

  <p-card header="Moves" class="two">
    <ul>
      <li *ngFor="let move of detail.moves"> {{move.move.name}} </li>
    </ul>
  </p-card>
</div>

